
:root{
    --var-gray: #555b6e;
    --var-lowgray: #999ea5;
    --var-green: #89b0ae;
    --var-lowgreen: #bee3db;
    --var-white: #ffffff;
    --var-back: #faf9f9;
}
button, a {
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
/* Login_CSS */
#loginBody {
    background-color: var(--var-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
#characterBack {
    width: 170px;
    height: auto;
    position: absolute;
    margin-left: 270px;
    margin-top: 60px;
}
#plantBack {
    width: 220px;
    height: auto;
    position: absolute;
    margin-left: -170px;
}
#loginBox {
    position: relative;
    z-index: 4;
    width: 350px;
    height: 600px;
    background-image: linear-gradient(to left bottom,rgba(255,255,255,0.4),rgba(248, 248, 248, 0));
    background-blend-mode:lighten;
    border: 2px solid rgba(255,255,255,0.35);
    border-radius: 30px;
    display: block;
}
#header {
    color: var(--var-white);
    margin-left: 130px;
    margin-top: 100px;
}
.frmLogin {
    display: block;
    width: 250px;
    height: 30px;
    margin-left: 50px;
    border-radius: 10px;
}
label.frmLogin {
    color: var(--var-white);
    margin-top: 20px;
}
input.frmLogin {
    font-size: 15px;
}
#loginForm {
    margin-top: 70px;
}
#loginButton {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    float: right;
    margin-right: 50px;
    margin-top: 60px;
    background-color: var(--var-green);
    color: var(--var-white);
}
/* Dashboard_CSS */
#dashboardBody {
    background-color: var(--var-back);
    margin: 0%;
    padding: 0%;
    font-family: 'Lateef', cursive;
}
#panel {
    margin-right: 0%;
    margin-top: 0%;
    width: 15vw;
    height: 100vh;
    float: right;
    position: relative;
}
#logoBox {
    background-color: #6b8d8b;
    margin-top: 0%;
    width: 100%;
    height: 10vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo {
    border: none;
    width: 30%;
    height: auto;
    position:absolute;
}
#menuBox {
    background-color: var(--var-green);
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
    position: absolute;
    display: block;
}
#menu {
    margin-top: 10%;
    margin-right: 0%;
    list-style-type: none;
    font-size: 20px;
    float: right;
}
.menuLink {
    text-decoration: none;
    color: white;
}
.menuItems {
    margin-right:20px;
    padding: 20px 0px;
}
.menuLink:hover {
    color: #555b63;
}
#topBox {
    background-color: var(--var-gray);
    width: 85vw;
    height: 3vw;
    margin-top: 0%;
    position: absolute;
    display: flex;
    align-items: center;
}
#userInfo {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    position: absolute;
    background-color: var(--var-green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    margin-left: 10px;
}
#userInfoBox {
    margin-top: 6vw;
    margin-left: 4vw;
    width: 10vw;
    height: 10vw;
    background-color: var(--var-lowgreen);
    border: 1px solid white;
    position: absolute;
    display: none;
    z-index: 2
}
#username {
    margin-top: 2vw;
    margin-left: 1vw;
    color: black;
    font-size: 1.5vw;
}
#userExit {
    width: 5vw;
    height:2vw;
    border-radius: 20px;
    background-color: var(--var-green) ;
    margin-top: 30%;
    margin-left: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content {
    position:absolute;
    width: 80vw;
    height: 90vh;
    overflow-y: scroll;
    margin-left: 2.5vw;
    margin-top: 8vh;
}
/* CustomerAdding _CSS */
#customerBody {
    background-color: var(--var-back);
    font-family: 'Lateef', cursive;
    color: var(--var-gray);
}
#customerAddingGrid {
    float: right;
    display: grid;
    grid-template-columns: 300px 120px 300px 120px;
    grid-template-rows: repeat(17,60px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    justify-items: right;
    align-items: center;
}
.customerAddingForm {
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
.customerAddGrItem input {
    background-color: var(--var-lowgray);
    font-size: 16px;
    color: var(--var-white);
}
.customerAddingForm:focus {
    background-color: var(--var-white);
    color: var(--var-white);
}
#addressInput {
    background-color: var(--var-lowgray);
    width: 640px;
    height: 60px;
    font-size: 16px;
    text-align: right;
}
#addressInput:focus {
    background-color: var(--var-white);
}
#addTel {
    font-size: 20px;
    color: rgb(39, 173, 133);
}
#addMobile {
    font-size: 20px;
    color: rgb(39, 173, 133);
}
.mergeNameInput{
    grid-column: 1/4;
}
.mergenameLabel {
    grid-column: 4/5;
}
.mergeTelInput {
    grid-column: 1/4;
}
.mergeTelLabel {
    grid-column: 4/5;
}
.mergeMobileInput {
    grid-column: 1/4;
}
.mergeMobileLabel {
    grid-column: 4/5;
}
.mergeAddressInput {
    grid-column: 1/4;
    height: 80px;
}
.mergeAddressLabel {
    grid-column: 4/5;
}
.mergeLocationInput {
    grid-column: 1/4;
    grid-row: 10/16;
}
.mmergeLocationLabel {
    grid-column: 4/5;
    grid-row: 10/16;
}
#locationInput {
    width: 640px;
    height: 400px;
    background-color: var(--var-white);
}
.mergeButton {
    grid-column: 1/5;
}
#submitButton {
    background-color: var(--var-green);
    color: var(--var-white);
}
#nameInput,#storeTypeInput,#storeNameInput,
#cityInput,#provinceInput,#countryInput{
    text-align: right;
}
#latlong {
    display: none;
}

/* customerlist_css */

#customerListBody {
    background-color: var(--var-back);
    font-family: 'Lateef', cursive;
}
#searchBox {
    float: right;
    width: 65vw;
    height: 60px;
    display: grid;
    grid-template-columns: 100px 250px 50px 250px 120px;
    justify-items: right;
    align-items: center;
    grid-column-gap: 10px;
    justify-self: center;
    color: var(--var-gray);
}
#provinceSearchInput,#nameSearchInput{
    width: 200px;
    height: 30px;
    background-color: var(--var-lowgray);
    font-size: 16px;
    text-align: right;
    border-radius: 10px;
}
#provinceSearchInput:focus,#nameSearchInput:focus {
    background-color: var(--var-white)
}
#provinceSearchLabel,#nameSearchLabel{
    width: 120px;
    height: 30px;
}
#searchButton {
    background-color: var(--var-green);
    color: var(--var-white);
    border-radius: 10px;
    height: 30px;
}
#customerlistTable {
    margin-top: 3vh;
    float: right;
    border-collapse: collapse;
    width: 70vw;
    text-align: center;
}
#customerlistTable,th,td {
    border: 1px solid var(--var-gray);
}
#customerlistTable th{
    background-color: var(--var-gray);
    color: var(--var-white);
}
#customerlistTable tr {
    height: 30px;
}

#customerlistTable tr:nth-child(odd) {
    background-color: var(--var-lowgray);
}
#customerlistTable tr:hover {
    background-color: var(--var-lowgreen);
}
.viewEditImg {
    width: 20px;
    height: 20px;
    margin-left: -3px;
}

#customerEditButton,#customerDeleteButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--var-white);
}
/* faktoradding_css */

#factorAddingBody {
    background-color: var(--var-back);
    font-family: 'Lateef', cursive;
    color: var(--var-gray);
}
#factorAddingGrid {
    float: right;
    display: grid;
    grid-template-columns: 300px 120px 300px 120px;
    grid-template-rows: repeat(11,60px);
    padding: 10px;
    justify-items: right;
    justify-content: right;
    align-items: center;
}
.factorAddingForm  {
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
.factorAddingGridItem input {
    background-color: var(--var-lowgray);
    font-size: 16px;
    color: var(--var-white);
}
.factorAddingGridItem input:focus {
    background-color: var(--var-white);
    color: black;
}

.factorAddingGridItem:nth-child(1) {
    grid-column: 1/4;
}
.factorAddingGridItem:nth-child(2) {
    grid-column: 4/5;
}
.factorAddingGridItem:nth-child(14) {
    grid-column: 4/5;
    grid-row: 3/6;
}
.factorAddingGridItem:nth-child(7) {
    grid-column: 1/4;
    grid-row: 3/4;
}
.factorAddingGridItem:nth-child(8) {
    grid-column: 1/2;
    grid-row: 4/5;
}
.factorAddingGridItem:nth-child(9) {
    grid-column: 2/3;
    grid-row: 4/5;
}
.factorAddingGridItem:nth-child(10) {
    grid-column: 3/4;
    grid-row: 4/5;
}
.factorAddingGridItem:nth-child(11) {
    grid-column: 1/2;
    grid-row: 5/6;
}
.factorAddingGridItem:nth-child(12) {
    grid-column: 2/3;
    grid-row: 5/6;
}
.factorAddingGridItem:nth-child(13) {
    grid-column: 3/4;
    grid-row: 5/6;
}
.factorAddingGridItem:nth-child(15) {
    grid-column: 1/2;
    grid-row: 6/7;
}
.factorAddingGridItem:nth-child(16) {
    grid-column: 2/3;
    grid-row: 6/7;
}
.factorAddingGridItem:nth-child(17) {
    grid-column: 3/4;
    grid-row: 6/7;
}
.factorAddingGridItem:nth-child(18) {
    grid-column: 4/5;
    grid-row: 6/7;
}
.factorAddingGridItem:nth-child(19) {
    grid-column: 1/4;
    grid-row: 7/8;
}
.factorAddingGridItem:nth-child(20) {
    grid-column: 4/5;
    grid-row: 7/8;
}
.factorAddingGridItem:nth-child(21) {
    grid-column: 1/2;
    grid-row: 8/9;
}
.factorAddingGridItem:nth-child(22) {
    grid-column: 2/3;
    grid-row: 8/9;
}
.factorAddingGridItem:nth-child(27) {
    grid-column: 1/4;
    grid-row: 10/11;
}
.factorAddingGridItem:nth-child(28) {
    grid-column: 4/5;
    grid-row: 10/11;
}
.factorAddingGridItem:nth-child(29) {
    grid-column: 1/5;
    grid-row: 11/12;
}
#cargoNameInput {
    text-align: right;
}
#factorSubmitButton {
    background-color: var(--var-green);
    color: var(--var-white);
    font-size: 16px;
    width: 100px;
    height: 30px;
}
.factorAddingGridItem input:disabled {
    background-color: var(--var-back);
}
.factorAddingGridItem textarea {
    background-color: var(--var-lowgray);
    width: 620px;
    height: 50px;
    font-size: 16px;
    text-align: right;
}
.factorAddingGridItem textarea:focus {
    background-color: var(--var-white);
}
.factorAddingForm::placeholder{
    color: var(--var-white);
}

/* customerprofile_css */

#customerProfileBody {
    background-color: var(--var-back);
    font-family: 'Lateef', cursive;
    color: var(--var-gray);
    font-size: 16px;
}
#customerDetailGrid {
    float: right;
    display: grid;
    grid-template-columns: 120 120px 120 130px;
    grid-template-rows: repeat(19,30px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0px 10px;
    justify-items: right;
    align-items: center;
}
.customerDetailGridItem:nth-child(33) {
    grid-column: 1/4;
}
.customerDetailGridItem:nth-child(34) {
    grid-column: 4/5;
}
.customerDetailGridItem:nth-child(35) {
    grid-column: 1/4;
    grid-row: 10/19;
}
.customerDetailGridItem:nth-child(36) {
    grid-column: 4/5;
}
#locationPRValue {
    background-color: var(--var-white);
    width: 300px;
    height: 300px;
}
.customerDetailGridItem:nth-child(even) {
    font-size: 18px;
}
#mobilePRValue2,#telPRValue2 {
    font-size: 16px;
}
.customerDetailGridItem:nth-child(37) {
    grid-column: 1/5;
}
#factorAddButton {
    background-color: var(--var-green);
    color: var(--var-white);
    font-size: 16px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
#factorListTable {
    margin-top: 3vh;
    float: right;
    border-collapse: collapse;
    width: 50vw;
    text-align: center;
}
#factorListTable,th,td {
    border: 1px solid var(--var-gray);
}
#factorListTable th{
    background-color: var(--var-gray);
    color: var(--var-white);
}
#factorListTable tr {
    height: 30px;
}

#factorListTable tr:nth-child(odd) {
    background-color: var(--var-lowgray);
}
#factorListTable tr:hover {
    background-color: var(--var-lowgreen);
}
#factorViewButton,#factorDeleteButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--var-white);
}
.viewDeleteImg {
    width: 20px;
    height: 20px;
    margin-left: -3px;
}
